#container {
    display: grid;
    margin: auto;
    margin-top: 80px;
    width: 500px;
    height: 500px;
}

body {
    background-color: pink;
}

.square {
    border: 2px solid;
    border-color: black;
    background-color: white;
}

button {
    height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: beige;
    color: purple;
    font-size: 30px;
    font-weight: bold;
}

